<a
  href={{@args.topic.lastPostUrl}}
  aria-label={{i18n "latest_poster_link" username=@args.topic.creator.username}}
  data-user-card={{@args.topic.creator.username}}
>{{avatar @args.topic.creator imageSize="large"}}</a>