<a
  href={{@outletArgs.topic.lastPostUrl}}
  aria-label={{i18n
    "latest_poster_link"
    username=@outletArgs.topic.creator.username
  }}
  data-user-card={{@outletArgs.topic.creator.username}}
>{{avatar @outletArgs.topic.creator imageSize="large"}}</a>